/*
    SPINNERS
    by boguz

    https://github.com/boguz/Spinners
*/
.loadingOverlay {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    background-color: black;
    z-index: 999;
}

.spinningCircle {
    height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,0);
	border-top-color: 10px solid rgb(0, 192, 230);
	border-right-color: 10px solid rgb(0, 192, 230);
	-webkit-animation: single2 4s infinite linear;
	animation: single2 4s infinite linear;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 1000;
}

.preload {
    width: 1px;
    height: 1px;
    opacity: 0;
}

@-webkit-keyframes single2 {
    0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    border-top-color: rgb(0, 192, 230);
	    border-right-color: rgb(0, 192, 230);
    }
	50% {
	    border-top-color: #1f4f58;
	    border-right-color: #1f4f58;
	}
	100% {
	    -webkit-transform: rotate(720deg);
	    transform: rotate(720deg);
	    border-top-color: rgb(0, 192, 230);
	    border-right-color: rgb(0, 192, 230);
	}
}

@keyframes single2 {
	0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    border-top-color: rgb(0, 192, 230);
	    border-right-color: rgb(0, 192, 230);
	}
	50% {
	    border-top-color: #1f4f58;
	    border-right-color: #1f4f58;
	}
	100% {
	    -webkit-transform: rotate(720deg);
	    transform: rotate(720deg);
	    border-top-color: rgb(0, 192, 230);
	    border-right-color: rgb(0, 192, 230);
	}
}
