* {
    font-family: 'Lato', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pc-navbar {
    background-color: #0f1014;
    color: #ccccc2;
    height: 45px;
    line-height: 45px;
}
.pc-logo {
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
}
.pc-logo-img {
    vertical-align: text-bottom;
}
