@media (max-width: 900px) {
    .pc-bar {
        width: 100% !important;
    }
   .pc-leftbar {
      height: 400px !important;
   }
   .pc-midbar {
       height: 580px !important;
       border-top: 3px solid #0f1014 !important;
       border-left: none !important;
   }
   .pc-rightbar {
       min-height: 300px !important;
       max-height: 400px !important;
       border-top: 3px solid #0f1014 !important;
       border-left: none !important;
   }
   body {
       overflow-y: scroll !important;
   }
}


* {
    font-family: 'Lato', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #644C38;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 0px 45px;
    background-repeat: repeat-y;
    overflow: hidden;
}
.pc-navbar {
    background-color: #0f1014;
    color: #54E9E6/*#ccccc2*/;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}
.pc-navbar div {
    display: inline-block;
    padding-left: 5px; padding-right: 5px;
    height: 45px;
    vertical-align: middle;
    float: right;
    font-size: 25px;
    cursor: pointer;
}
.pc-logo {
    font-weight: bold;
    float: left !important;
}
.pc-logo-img {
    margin-bottom: 5px;
}
.pc-bar {
    display: inline-block;
    float: left;
    height: calc(100vh - 45px);
    overflow: hidden;
    position: relative;
}
.pc-leftbar {
    width: 30%;
}
.pc-midbar {
    width: 30%;
    background-color: rgba(14, 15, 22, 0.8);
    border-left: 4px solid #0f1014;
}
.pc-rightbar {
    background-color: rgba(14, 15, 22, 0.8);
    border-left: 4px solid #0f1014;
    width: 40%;
}
.champion-wrapper {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 80px);
    background-color: rgb(73, 150, 164);
    border: 3px solid rgb(0, 50, 60);
    cursor: pointer;
}
.champion-icon {
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 115px);
    top: calc(50% - 115px);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    opacity: 1;
    height: 230px;
    width: 230px;
}
.champion-icon:hover {
    top: calc(50% - 117px);
    opacity: 1;
}
.champion-icon:active {
    top: calc(50% - 113px);
    opacity: 0.9;
}
.tooltip {
    z-index: 2 !important;
}
.health-wrapper {
    background: #128D8A;
    background: -webkit-repeating-linear-gradient(80deg, transparent, transparent 5px, #54E9E6 5px, #54E9E6 30px);
    background: -o-repeating-linear-gradient(80deg, transparent, transparent 5px, #54E9E6 5px, #54E9E6 30px);
    background: -moz-repeating-linear-gradient(80deg, transparent, transparent 5px, #54E9E6 5px, #54E9E6 30px);
    background: repeating-linear-gradient(80deg, transparent, transparent 5px, #54E9E6 5px, #54E9E6 30px);
    left: calc(50% - 137px);
    top: calc(50% - 125px);
    height: 25px;
    position: absolute;
    width: 274px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.health-progress {
    background: rgb(0, 50, 60);
    background: -webkit-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: -o-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: -moz-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    height: 25px;
    position: absolute;
    width: 0px;
}
.champion-name {
    left: calc(50% - 137px);
    width: 274px;
    top: calc(50% - 150px);
    position: absolute;

    text-align: center;
    color: #54E9E6;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
}
.champion-triangle {
    left: calc(50% - 10px);
    top: calc(50% - 95px);
    position: absolute;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #54E9E6;
}
.level-canvas {
    position: absolute;
    left: calc(50% - 130px);
    top: 20px;
}
.level-text {
    position: absolute;
    left: calc(50% - 130px);
    width: 260px;
    height: 260px;
    top: 20px;

    text-align: center;
    line-height: 260px;
    color: white;
    font-weight: bold;
    font-size: 70px;

    text-shadow: 2px 2px 30px #128D8A, -2px -2px 30px #128D8A;
}
.pc-stats {
    position: absolute;
    left: calc(50% - 120px);
    width: 240px;
    height: 240px;
    border-radius: 10px;
    padding: 10px;
    top: 300px;
    text-align: center;
    color: white;
}
