.tooltipster-sidetip.tooltipster-punk.tooltipster-punk-customized .tooltipster-box {
	background: #222222;
    border-bottom:3px solid #128D8A;
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-punk-customized .tooltipster-content {
	color: white;
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-punk-customized .tooltipster-arrow-border {
	border-top-color: #128D8A;
}
