@import '../../partials/vars';
@import '../../partials/tooltips';

.levelWrapper {
  width: $level-size;
  height: $level-size;
  position: relative;
}

.levelDisplay {
  width: $level-size;
  height: $level-size;
  border-radius: 50%;
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  line-height: $level-size;
  color: color(white);
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 2px 2px 30px #128D8A, -2px -2px 30px #128D8A;

  &.levelUp {
    animation: levelUp 0.5s ease-in-out;
  }
}

.levelTooltipBase {
  @include tooltip-base();

  width: 100%;
  height: 100%;
  border-radius: 50%;
  user-select: none;
}

.levelTooltip {
  @include tooltip();

  width: 120px;
  left: calc(50% - 60px);
  box-shadow: none;
  user-select: auto;
}

@keyframes levelUp {
  0% {
    background-color: color(cyan);
    color: color(cyan);
  }

  100% {
    background-color: transparent;
    color: color(white);
  }
}