@charset "UTF-8";
/*
Paladins​™ and Paladins™: Champions of the Realm​​™ are trademarks of Hi­Rez Studios, Inc. in the United States and other countries.
Please note, that unlike js and html, css files for this project are chaotic and unorganized. If you are starting out this propably isn't a good place to learn.
*/

@import 'partials/vars';

@media (max-width: $mobile-max-width) {
    .pc-bar {
        width: 100% !important;
    }
    .pc-leftbar {
        height: $mobile-leftbar-height !important;
    }
    .pc-midbar {
        height: $mobile-midbar-height !important;
        border-top: $mobile-bar-border !important;
        border-left: none !important;
    }
    .pc-rightbar {
        min-height: $mobile-rightbar-min-height !important;
        height: auto !important;
        border-top: $mobile-bar-border !important;
        border-left: none !important;
    }
    body {
        overflow-y: scroll !important;
    }
}


* {
    font-family: $main-font;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: $background-placeholder-color;
    background-image: url('../img/background.png');
    background-size: cover;
    background-clip: border-box;
    background-position: 0px $navbar-height;
    background-repeat: repeat-y;
    overflow: hidden;
    color: white;
}
.pc-navbar {
    background-color: $navbar-background-color;
    color: $light-blue-color;
    height: $navbar-height;
    line-height: $navbar-height;
    vertical-align: middle;
    .pc-navbar-element {
        display: inline-block;
        padding-right: $navbar-element-padding; padding-left: $navbar-element-padding;
        height: $navbar-height;
        vertical-align: middle;
        float: right;
        font-size: $navbar-element-font-size;
        cursor: pointer;
        min-width: $navbar-height - 5px;
        text-align: center;
        color: white;
        transition-duration: 2s;
        &:not(.pc-logo):hover {
            background-color: #242732 !important;
            color: $light-blue-color !important;
        }
    }
}




.pc-logo {
    font-weight: bold;
    float: left !important;
    color: $light-blue-color !important;
    .pc-logo-img {
        margin-bottom: 5px;
    }
}

.pc-bar {
    display: inline-block;
    float: left;
    height: calc(100vh - #{$navbar-height});
    overflow: hidden;
    position: relative;
}
.pc-leftbar {
    width: $leftbar-width;
}
.pc-midbar {
    width: $midbar-width;
    background-color: rgba(14, 15, 22, 0.8);
    border-left: 4px solid $navbar-background-color;
}
.pc-rightbar {
    background-color: rgba(14, 15, 22, 0.8);
    border-left: 4px solid $navbar-background-color;
    width: $rightbar-width;
}
.champion-wrapper {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 80px);
    background-color: rgb(73, 150, 164);
    border: 3px solid rgb(0, 50, 60);
    cursor: pointer;
}
.champion-icon {
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 115px);
    top: calc(50% - 115px);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    opacity: 1;
    height: 230px;
    width: 230px;
}
.champion-icon:hover {
    top: calc(50% - 117px);
    opacity: 1;
}
.champion-icon:active {
    top: calc(50% - 113px);
    opacity: 0.9;
}
.tooltip {
    z-index: 2 !important;
}
.health-wrapper {
    background: #128D8A;
    background: -webkit-repeating-linear-gradient(80deg, transparent, transparent 5px, $light-blue-color 5px, $light-blue-color 30px);
    background: -o-repeating-linear-gradient(80deg, transparent, transparent 5px, $light-blue-color 5px, $light-blue-color 30px);
    background: -moz-repeating-linear-gradient(80deg, transparent, transparent 5px, $light-blue-color 5px, $light-blue-color 30px);
    background: repeating-linear-gradient(80deg, transparent, transparent 5px, $light-blue-color 5px, $light-blue-color 30px);
    left: calc(50% - 137px);
    top: calc(50% - 125px);
    height: 25px;
    position: absolute;
    width: 274px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.health-progress {
    background: rgb(0, 50, 60);
    background: -webkit-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: -o-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: -moz-repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    background: repeating-linear-gradient(80deg, transparent, transparent 5px, rgb(0, 50, 60) 5px, rgb(0, 50, 60) 30px);
    height: 25px;
    position: absolute;
    width: 0px;
}
.champion-name {
    left: calc(50% - 137px);
    width: 274px;
    top: calc(50% - 150px);
    position: absolute;

    text-align: center;
    color: $light-blue-color;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
}
.champion-triangle {
    left: calc(50% - 10px);
    top: calc(50% - 95px);
    position: absolute;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid $light-blue-color;
}
.level-canvas {
    position: absolute;
    left: calc(50% - 130px);
    top: 20px;
}
.level-text {
    position: absolute;
    left: calc(50% - 130px);
    width: 260px;
    height: 260px;
    top: 20px;
    border-radius: 50%;

    text-align: center;
    line-height: 260px;
    color: white;
    font-weight: bold;
    font-size: 70px;

    text-shadow: 2px 2px 30px #128D8A, -2px -2px 30px #128D8A;
}
.pc-stats {
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
    height: 240px;
    border-radius: 20px;
    padding: 10px;
    top: 300px;
    text-align: center;
    color: white;
    font-size: 32px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(18, 142, 139, 0.5);
}
.pc-stats img {
    margin-bottom: 5px;
}
.stats-yellow {
    color: #DEAC3D;
}
.stats-orange {
    color: #FF6600;
}
.gpk, .dps {
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin-top: -5px;
}
.stats-section {
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    height: 50%;
}
.pc-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(18, 142, 139, 0.5);
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    height: 115px;
    position: relative;
}
.pc-item-image {
    border: 2px solid rgba(18, 142, 139, 0.5);
    border-radius: 10px;
}
.pc-item-stats {
    position: absolute;
    left: 110px;
    right: 0;
    top: 40px;
    bottom: 10px;
    font-size: 15px;
    line-height: 30px;
}
.pc-item-title {
    position: absolute;
    left: 110px;
    right: 0;
    top: 10px;
    height: 26px;
    border-bottom: 1px solid white;

    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: white;
}
.pc-item-level::before {
    content: "Level: ";
}
.pc-item-cost::before {
    content: "Cost: ";
}
.pc-item-section {
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.pc-item-section2 {
    text-align: center;
}
.pc-item-button {
    background-color: #128D8A;
    border: 2px solid #063938;
    outline: none;
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.pc-item-button:hover {
    background-color: #10c2bd;
}
.pc-item-cost img {
    margin-bottom: 2px;
    margin-left: 2px;
}
.pc-item-bonus-dmg::after {
    content: ' DMG';
    color: #FF6600;
}
.pc-item-bonus-dps::after {
    content: ' DPS';
    color: #bd0a0a;
}
.pc-item-bonus-gpk::after {
    content: ' GPK';
    color: #DEAC3D;
}
.pc-modal * {
    background-color: $navbar-background-color;
    color: white;
    border-color: $light-blue-color;
}
.pc-modal .modal-content {
    border-color: black;
}
.pc-modal .pc-modal-button {
    background-color: #128D8A;
    border: 2px solid #063938;
    outline: none;
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.pc-modal .pc-modal-button:hover {
    background-color: #10c2bd;
}
.pc-button-decline {
    background-color: #b30a0a !important;
    border-color: #5c0606 !important;
}
.pc-button-decline:hover {
    background-color: #e00303 !important;
}
a {
    color: $light-blue-color !important;
}
.preload {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
    top: -9999px;
}

#explosionPiecesDisplay, #explosionPiecesInput {
    display: inline-block;
    vertical-align: middle;
}
#explosionPiecesInput {
    width: 70%;
}
#explosionPiecesDisplay {
    margin-left: 5%;
    width: 25%;
}
#settingsModal label {
    width: 100%;
    font-weight: normal;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll !important;
}
