@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
  .pc-column {
    width: 100% !important;
    border-right: none !important;

    &:not(:first-of-type) {
      border-top: 0.25rem solid $black-color !important;
    }
  }

  body {
    overflow-y: scroll !important;
  }
}