@import '../../partials/vars';

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-clip: border-box;
  background-position: 0px $navbar-height;
  background-repeat: repeat-y;
  background-color: color(blue);
  background-image: url(https://tchojnacki.github.io/paladinsclicker/img/background.png);
}

.navbar {
  height: $navbar-height;
  line-height: $navbar-height;
  width: 100%;
  display: flex;

  background-color: color(black);
}

.logo {
  font-size: #{$navbar-height/2};
  display: flex;
  padding: 0 0.5rem;
  margin: 0 auto 0 0;

  cursor: pointer;
  user-select: none;
  color: color(cyan);  
}

.logoImg {
  height: #{$navbar-height/2};
  padding: #{$navbar-height/4} 0; //($navbar-height - ($navbar-height/2))/2
  margin-right: 0.25rem;
}

.iconsContainer {
  margin: 0 0 0 auto;
}

.icon {
  height: $navbar-height;
  width: $navbar-height;
  line-height: $navbar-height;
  text-align: center;
}

.columnContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.columnLeft, .columnMiddle, .columnRight {
  box-sizing: border-box;
}

.columnLeft, .columnMiddle {
  width: 30%;
  border-right: 3px solid color(black);
}

.columnRight {
  width: 40%;
}

.columnMiddle, .columnRight {
  background-color: transparentize(darken(color(blue), 60%), 0.3);
}

@import 'App_mobile';