@import 'partials/vars';

body {
  font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
  font-size: 16px;
  color: $white-color;
  background-color: $black-color;
}

.pc-container {
  background-size: cover;
  background-clip: border-box;
  background-position: 0px $navbar-height;
  background-repeat: repeat-y;

  &.container-bg-glacier-keep {
    background-color: #617FF7;
    background-image: url(https://tchojnacki.github.io/paladinsclicker/img/background.png);
  }
}

.pc-header {
  height: $navbar-height;
  line-height: $navbar-height;
  width: 100%;
  background-color: $black-color;
  font-size: 1.5rem;
  display: flex;
  user-select: none;
}

.pc-logo {
  padding: 0 0.5rem;
  color: $light-blue-color;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0.2rem;
  }
}

.pc-navbaritems {
  margin: 0 0 0 auto;
  display: flex;

  i {
    line-height: $navbar-height;
    width: 3rem;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
      color: $light-blue-color;
      background-color: lighten($black-color, 5%);
    }
  }
}

.pc-content {
  display: flex;
  flex-wrap: wrap;
}

.pc-column {
  width: 30%;
  min-height: calc(100vh - #{$navbar-height});
  box-sizing: border-box;

  &.pc-column-darken {
    background-color: transparentize($black-color, 0.25);
  }

  &.pc-column-items {
    width: 40%;
    overflow-y: scroll;
  }

  &:not(.pc-column-items) {
    border-right: 0.25rem solid $black-color;
  }
}

@import 'partials/media';