$mobile-max-width: 900px;
$mobile-leftbar-height: 400px;
$mobile-midbar-height: 580px;
$mobile-rightbar-min-height: 300px;
$mobile-bar-border: 3px solid #0f1014;

$main-font: 'Lato', sans-serif;

$navbar-height: 45px;
$navbar-element-padding: 3px;
$navbar-element-font-size: 25px;
