$main-font: 'Lato', sans-serif;
$light-blue-color: #54E9E6;
$background-placeholder-color: #617FF7;

$navbar-height: 45px;
$navbar-element-padding: 3px;
$navbar-element-font-size: 25px;
$navbar-background-color: #0f1014;

$mobile-max-width: 900px;
$mobile-leftbar-height: 400px;
$mobile-midbar-height: 580px;
$mobile-rightbar-min-height: 300px;
$mobile-bar-border: 3px solid $navbar-background-color;

$leftbar-width: 30%;
$midbar-width: 30%;
$rightbar-width: 40%;
$bar-background-color: rgba(14, 15, 22, 0.8);
$bar-border: 4px solid $navbar-background-color;

$champion-wrapper-size: 250px;
$champion-wrapper-background-color: rgb(73, 150, 164);
$champion-wrapper-border: 3px solid rgb(0, 50, 60);
$champion-icon-size: 230px;
$champion-icon-transition-duration: 0.1s;
