@charset "UTF-8";

@import 'partials/vars';
@import 'partials/anims';


.loadingOverlay {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    background-color: black;
    z-index: 999;
}

.spinningCircle {
    height: $spinner-size;
	width: $spinner-size;
	border-radius: 50%;
	border: 15px solid transparent;
	border-top-color: $light-blue-color;
	border-bottom-color: $light-blue-color;
    border-right-color: $loader-secondary-color;
    border-left-color: $loader-secondary-color;
	animation: spinny 2s infinite linear;
    position: fixed;
    top: calc(50% - #{$spinner-size/2});
    left: calc(50% - #{$spinner-size/2});
    z-index: 1000;
}

.spinnerImageWrap {
    height: $spinner-size/2;
	width: $spinner-size/2;
    position: fixed;
    top: calc(50% - #{$spinner-size/4});
    left: calc(50% - #{$spinner-size/4});
    border-radius: 50%;
    border: 5px solid grey;
    background-color: lightgrey;
    z-index: 1001;
    img {
        height: $spinner-size/3;
    	width: $spinner-size/3;
        position: fixed;
        left: calc(50% - #{$spinner-size/6});
        top: calc(50% - #{$spinner-size/6});
    }
}

.preload {
    width: 1px;
    height: 1px;
    opacity: 0;
}
